/* 1280px以上で適用 */
/* --------------------------------- */

/* base */
/* サイト共通 */
/* --------------------------------- */
.container {
  padding: 0 100px;
}

/* top-cute */
/* --------------------------------- */
.top-cute {
  padding-bottom: 119px;

  &-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  &-flex {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 0px;
    background-color: #ffffff;
    margin-top: 125px;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    & img {
      box-shadow: 4px 4px 20px #e6e6e6;
      position: relative;
      top: -45px;
      left: -54px;

      &.right {
        left: 54px;
      }
    }

    &-box {
      padding: 0 15px;
      max-width: 450px;
      background-color: #ffffff;
      text-align: left;
      color: #333333;
      line-height: 31px;

      & h3 {
        font-size: 18px;
        font-weight: bold;
        padding-top: 40px;
        margin-bottom: 26px;
      }

      & p {
        font-size: 16px;
        margin-bottom: 45px;
      }
    }

    &-text {
      font-size: 16px;
      margin-bottom: 50px;
    }
  }
}
