// /* 960px以上で適用 */
// /* --------------------------------- */

/* base */
/* サイト共通 */
/* --------------------------------- */
.container {
  padding: 0 70px;
}

/* modules */
/* 便利クラス */
/* --------------------------------- */
.main-title {
  padding: 45px 0 0 0;
  margin-bottom: 60px;

  & h2 {
    font-size: 32px;
  }

  & img {
    padding-top: 16px;
  }
}

.btn-pink {
  padding: 15px 29px;
  color: #ffffff;
  background-color: #ec84a0;
  border-radius: 32px;
  margin-bottom: 12px;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;

  &:hover {
    opacity: 0.7;
  }
}

/* top-fv */
/* --------------------------------- */
.top-fv {
  padding: 190px 0;

  &-wrap {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }

  &-flex {
    flex-basis: 50%;

    & img {
      padding-top: 0px;
    }

    & h2 {
      font-size: 36px;
      padding-top: 0px;
    }

    & p {
      padding: 40px 0;
    }

    &-pink {
      display: inline-block;
    }

    &-white {
      & a {
        display: inline-block;
      }
    }
  }
}

/* top-feature */
/* --------------------------------- */
.top-feature {
  margin-bottom: 20px;

  &-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  &-item {
    flex-basis: calc(33% - 200px / 3);

    &:last-child {
      margin-right: 0;
    }

    & p {
      margin-bottom: 110px;
    }
  }
}

/* top-news */
/* --------------------------------- */
.top-news {
  padding-bottom: 55px;

  &-list {
    flex-direction: row;
  }

  &-item {
    flex-basis: calc(33% - 120px / 3);
    margin-right: 60px;

    &:last-child {
      margin-bottom: 50px;
      margin-right: 0;
    }
  }
}

/* top-contact */
/* --------------------------------- */
.top-contact {
  padding: 0 45px;
  margin-bottom: 86px;

  &-btn {
    padding: 15px 57px;
    margin-top: 44px;
  }

  &-wrap {
    margin: 0 auto;
    max-width: 485px;
    width: 100%;
    display: block;
    margin-bottom: 26px;
    text-align: justify;
    text-justify: inter-ideograph;

    & input,
    textarea {
      max-width: 290px;
      width: 100%;
      border: 1px solid #a3a3a3;
      border-radius: 5px;
      background-color: #ffffff;
      text-align: left;
      display: inline-block;
    }

    & input {
      height: 40px;
    }

    & textarea {
      height: 110px;
    }

    &-form {
      display: inline-block;
      margin-bottom: 10px;
      text-align: left;

      & .title-form {
        font-size: 18px;
        font-weight: bold;
        margin-right: 10px;
      }

      & .required {
        background-color: #ec84a0;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        padding: 3px 8px;
        border-radius: 2px;
        margin-right: 10px;
      }
    }
  }
}

/* footer */
/* --------------------------------- */
.footer {
  & img {
    padding: 30px 0 30px 0;
    width: 200px;
  }

  &-copyright {
    padding-bottom: 20px;
    font-size: 14px;
  }

  &-nav {
    &-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
    }

    &-item {
      margin-bottom: 0px;

      &::after {
        content: "|";
        padding: 0 14px;

        &:last-child {
          content: "";
        }
      }

      &:last-child {
        margin-bottom: 0px;
      }

      & a {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}
